 # Ignore Python virtual environment
env/
myenv/
calender_fe/node_modules/


# Ignore Django migrations
# **/migrations/

# Ignore SQLite database
db.sqlite3

# Ignore environment variables
.env

# Ignore build files
# frontend/dist/

